<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Add Task List</title>
</head>
<body>
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            flatpickr(".datetimefield", {
                enableTime: true,
                enableSeconds: true,
                dateFormat: "Y-m-d H:i:S",
            });
        });
    </script>
    
    <h1> Add Task List</h1>

    <form action="" method="POST">
        {% csrf_token %}
        Name: <input type="text" name="name"></input>
        Created At: <input class="datetimefield" name="created_at"></input>
        <input type="submit" name="submit" value="Add Task List"/>
    </form>

</body>
</html>